/* ----------- Mobile ----------- */
/* Portrait and Landscape */
@media (min-device-width: 320px) 
  and (max-device-width: 425px) { 
    .container {
      max-width: 22rem;
      padding: 0 1rem;
      margin: 3rem auto 6rem;
    }
    
    .backToHome {
      margin: 3rem 0 0;
    }
}

/* Portrait */
@media (min-device-width: 320px) 
  and (max-device-width: 425px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Landscape */
@media (min-device-width: 320px) 
  and (max-device-width: 425px) 
  and (orientation: landscape) { 

}

/* ----------- Laptop and Desktop ----------- */
/* ----------- Non-Retina Screens ----------- */
@media (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container {
      max-width: 39rem;
      padding: 0 1rem;
      margin: 3rem auto 6rem;
    }
    
    .backToHome {
      margin: 3rem 0 0;
    }
}

/* ----------- Retina Screens ----------- */
@media (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .container {
      max-width: 46rem;
      padding: 0 1rem;
      margin: 3rem auto 6rem;
    }
    
    .backToHome {
      margin: 3rem 0 0;
    }
}

/* ----------- Laptop and Desktop ----------- */
/* ----------- Non-Retina Screens ----------- */
@media (min-device-width: 1024px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container {
      max-width: 38rem;
      padding: 0 1rem;
      margin: 3rem auto 6rem;
    }
    
    .backToHome {
      margin: 3rem 0 0;
    }
}

/* ----------- Retina Screens ----------- */
@media (min-device-width: 1024px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .container {
      max-width: 38rem;
      padding: 0 1rem;
      margin: 3rem auto 6rem;
    }
    
    .backToHome {
      margin: 3rem 0 0;
    }
}

/* ----------- Tablet ----------- */

/* Portrait and Landscape */
@media (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .container {
      max-width: 35rem;
      padding: 0 1rem;
      margin: 3rem auto 6rem;
    }
    
    .backToHome {
      margin: 3rem 0 0;
    }
}

/* Portrait */
@media (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

} 